<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout2}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ログインフォーム</title>
	</head>
	<body>
		<div layout:fragment="header">ログインフォーム</div>
		<div layout:fragment="contents">
			<div class="alert alert-danger" role="alert" th:if="${isError}">
				ユーザー名、またはパスワードが正しくありません！
			</div>
			<form name="loginForm" method="post" th:action="@{authenticate}">
				<table>
					<tr>
						<td><label for="username">ユーザー名</label></td>
						<td><input type="text" name="username"/></td>
					</tr>
					<tr>
						<td><label for="password">パスワード</label></td>
						<td><input type="password" name="password"/></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><button type="submit">ログイン</button></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>